
/*******************************************************

          Navbar Gold

********************************************************/
.sectionnav {
  background-color: #0d0d0d;
}

.navgold {
  height: 12vh;
  width: 0;
  min-width: 600px;
  display: flex;
  align-items: center;
  position: relative;
  left: 75%;
  z-index: 9999;
  background-color: #0d0d0d;
}

.agold {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.269);
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  opacity: 90%;
  transition: 0.2s;
}

.agold:after {
  content: "";
  position: absolute;
  background-color: #42341e;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.7s;
}

.agold:hover {
  color: white;
  opacity: 100%;
}

.agold:hover:after {
  width: 100%;

}


/*******************************************************

          About-Us gold

********************************************************/

.gold {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gold::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1000;
}

.gold img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

}

.gold img#moon {
  mix-blend-mode: screen;
}

.gold {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.responsive-image {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto\9; /* For IE8 and earlier */
}

/* Optional styles */
.gold img#mountains_front {
  z-index: 10;
}


#mountains_front {
  transition: 0.8s ease-out;
}

.about-page-section-gold {
  position: relative;
  padding: 7% 0 1% 0;
  background: #000000;
}

/* Default styles */
.about-text-item-gold p {
  font-weight: 300;
  font-size: 1.3em;
  color: var(--cor-branca);
  text-align: initial;
  font-family: 'Abel', sans-serif;
  padding: 0 10% 0 10%;
}

.section-title-2-gold h2 {
  font-size: 2.7em;
  color: #5D492B;
  text-align: justify;
  text-transform: uppercase;
  font-family: "Criteria CF", sans-serif;
  font-weight: bold;
  white-space: normal;
}

.about-text-item-gold .section-title-2-gold {
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .about-text-item-gold .container {
    padding: 0 15px; 
  }

  .about-text-item-gold p {
    text-align: center;
  }

  .section-title-2-gold h2 {
    text-align: center;
  }

  .col-md-9,
  .col-md-12 {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .about-text-item-gold {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text-item-gold .section-title-2-gold {
    text-align: center;
  }
}


/*******************************************************

          CARDS

********************************************************/

.container-card-gold {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #000000, transparent);
  flex-wrap: wrap;
  padding: 0 0 1.6% 0;

}

.card-gold {
  border-radius: 16px;
  box-shadow: #5e4a2b5f 0px 5px, #5e4a2b4e 0px 10px, #5e4a2b2b 0px 15px, #5e4a2b1e 0px 20px, #5e4a2b12 0px 25px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .5s;
  margin-right: 20px;
}

.card-gold:hover {
  background-image: linear-gradient(to top, #0000005d, transparent);
  box-shadow: #5e4a2b5f 5px 5px, #5e4a2b4e 10px 10px, #5e4a2b2b 15px 15px, #5e4a2b1e 20px 20px, #5e4a2b12 25px 25px;
}

.card-gold .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card-gold .img span {
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 100;
  font-family: 'Bebas Neue', cursive;
  transition: all .5s;
  color: white;
}

.card-gold:hover .img {
  width: 430px;
  opacity: 1;
}

.card-gold:hover .img span {
  font-size: 1.9em;
}

.card-gold .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card-gold:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card-gold .content p {
  margin: 0;
}

.card-gold .content .title {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.card-gold .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card-gold .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card-gold:hover .arrow {
  transform: rotate(0);
}

.card-gold .arrow span {
  font-size: 24px;
}

.desc-card-gold {
  font-family: Segoe UI;
  font-size: 1.0em;
  color: white;

}


/*******************************************************

          ELEMENT

********************************************************/
.element-section-gold {
  background: linear-gradient(to bottom, transparent, black);
}

.element-gold {
  background: linear-gradient(to bottom, transparent, black);
  padding: 0 0 2% 2%;
}

.title-element-gold {
  padding: 0px 37% 0 33%;
}

.conteudo-element-gold {
  padding: 0 10% 0 10%;
}

.p-element-gold {
  color: #5D492B;
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.cards-container-gold {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card-content-gold {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}


.card-content-gold h2 {
  font-family: 'Anton', sans-serif;
}

.card-content-gold p {
  font-size: 16px;
  text-align: initial;
  font-family: "Criteria CF", Sans-serif;
}


.element-card-gold {
  position: relative;
  background: transparent;
  width: 400px;
  height: 500px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.element-card-gold span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #5D492B);
  animation: animar1 3s linear infinite;
}

@keyframes animar1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.element-card-gold span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #5D492B);
  animation: animar2 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animar2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.element-card-gold span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #5D492B);
  animation: animar3 3s linear infinite;
}

@keyframes animar3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.element-card-gold span:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #5D492B);
  animation: animar4 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes animar4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media (max-width: 767px) {
  .title-element-gold {
    padding: 0px;
  }
  .container-card-gold {
    padding: 0px 0px 0 13px;
    margin-bottom: 20px;
  }

}

/*******************************************************

          SUBSCRIBE 

********************************************************/
.container-form-gold {
  height: 150vh;
  background: linear-gradient(to top, #f8f8f8 50%, black 50%);
}

.content-form-gold {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: #161616;
  width: 170vh;
  height: 110vh;
}

.form-title-gold {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-title-gold h2 {
  position: relative;
  top: 0;
  left: 0;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
}

.form-x-gold {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-x-gold h2 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;
}

.form-price-gold {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-price-gold h2 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 200px;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;
}

.form-2-gold {
  position: absolute;
  top: 35%;
  left: 68%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
  
  .form-2-gold h2 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 300;
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;
  }
  
  .form-info-gold {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
  
  .form-info-gold h2 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  line-height: 1.2em;
  }
  
  .form-button-gold {
  position: absolute;
  top: 70%;
  left: 15%;
  transform-origin: center;
  text-align: center;
  background-color: #5D492B;
  width: 70%;
  height: 10%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 7px 0 0 #352a19;
  transition: all 0.5s;
  }
  
  .form-button-gold:hover {
  cursor: pointer;
  transform: scale(0.9);
  }
  
  .form-button-gold span {
  position: relative;
  top: 10px;
  font-family: criteria cf,Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  fill: #1a1a1a;
  color: #ffffff;
  }
  
  .form-button-gold2 {
  position: absolute;
  text-align: center;
  top: 85%;
  left: 15%;
  background-color: #5D492B;
  width: 70%;
  height: 10%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  fill: #1a1a1a;
  color: #1a1a1a;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 7px 7px 0 0 #352a19;
  transition: all 0.5s;
  }
  
  .form-button-gold2:hover {
  cursor: pointer;
  transform: scale(0.9);
  }
  
  .form-button-gold2 span {
  position: relative;
  top: 10px;
  font-family: criteria cf,Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  fill: #1a1a1a;
  color: #ffffff;
  }

  @media (max-width: 768px) {
    .content-form-gold {
      width: 100%;
    }
  
    .form-button-gold {
      left: 5%;
      width: 90%;
    }
  
    .form-button-gold2 {
      left: 5%;
      width: 90%;
      height: 73px;
    }

    

    .form-button-gold2 span {
      font-size: 17px;
      margin: 0;
    }
  
    .form-price-gold h2 {
      font-size: 115px;
    }
  
    .form-x-gold {
      left: 15%;
      top: 35%;
    }
  
    .form-x-gold h2 {
      font-size: 33px;
    }
  
    .form-2-gold h2 {
      top: 70px;
      left: 55px;
      font-size: 45px;
    }
  
    .container-form-button {
      position: relative !important;
      top: 65% !important;
    }
  
  
    .form-button-gold span {
      font-size: 17px;
      margin: 0;
    }
    
  }


/*******************************************************

          OF COURSE

********************************************************/

.ofcourse-gold {
  background-color: #f8f8f8;
  height: 60vh;
}

.titlecourse-gold {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.videocourse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 720px;
  height: 390px;
  border-radius: 20px;
}


.titlecourse-gold h2 {
  font-size: 2.7em;
  color: #5D492B;
  text-transform: uppercase;
  font-family: "Criteria CF", Sans-serif;
  font-weight: bold;  
}

.modules-gold {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.modules-gold h3 {
  font-size: 1.5em;
  color: #5D492B;
  text-transform: uppercase;
  font-family: "Criteria CF", Sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}


.modules-gold ul {
  list-style: none;
  color: #222;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
}

.modules-gold li {
  background-color: #ffffff;
}

.modules-gold button {
  border: none;
  background-color: #ffffff;
  color: #030303;
  padding: 20px; 
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  width: 100vh;
}

@media (max-width: 768px) {
  .titlecourse-gold {
    position: relative;
    top: 70px;
  }

  .modules-gold {
    margin-left: 250px;
  }

  .modules-gold ul {
  }
  
  .submodules ul.open {
    margin-left: 0;
  }

  .ofcourse-gold {
    height: 80vh;
  }

}




/*******************************************************

          Contact

********************************************************/
.contact-gold {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container-gold {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-gold {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form-gold {
  background-color: #5D492B;
  position: relative;
}

.circle-gold {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #836a44);
  position: absolute;
}

.circle-gold .one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle-gold .two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form-gold:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #5D492B;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container-gold  {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container-gold  label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container-gold .textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btnn-gold {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #5D492B;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btnn-gold:hover {
  background-color: transparent;
  color: #fff;
}

.input-container-gold  span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
} 
 
.input-container-gold  span:before,
.input-container-gold  span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #5D492B;
  top: 50%;
  transform: translateY(-50%);
}

.input-container-gold  span:before {
  left: 50%;
}

.input-container-gold  span:after {
  right: 50%;
}

.input-container-gold .focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container-gold .focus span:before,
.input-container-gold .focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-infoo-gold {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-infoo-gold .title {
  color: #5D492B;
}

.text-gold {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-mediaa-gold {
  padding: 2rem 0 0 0;
}

.social-mediaa-gold p {
  color: #333;
}

.social-iconss-gold {
  display: flex;
  margin-top: 0.5rem;
}

.social-iconss-gold a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #5D492B, #352a19);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-iconss-gold a:hover {
  transform: scale(1.05);
}

.contact-infoo-gold:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #5D492B;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle-gold {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #5D492B, #352a19);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle-gold:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #fafafa;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-infoo-gold:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle-gold {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-infoo-gold:before {
    display: none;
  }

  .square,
  .big-circle-gold {
    display: none;
  }

  form,
  .contact-infoo-gold {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btnn {
    padding: 0.45rem 1.2rem;
  }
}

.sm {
  position: relative;
  top: 8px;
}
/*******************************************************

          Footer gold

********************************************************/
.main-footer {
  height: 80vh;
}

.footer-gold {
  width: 100%;
  color: #0e0c0c;
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: #171717;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #ffffff;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: #a8a29e;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: #a8a29e;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: #0e0c0c;
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #5D492B;
  border: none;
  color: #ffffff;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #0e0c0c;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}

